<div id="content" class="container-fluid" *ngIf="this.data !== undefined">
	<div id="topRow" class="row">
		<div id="explorer" class="col-9" style="outline: 1px black solid">

			<!-- Template form -->
			<ng-template #recursiveListTmpl let-list="list">

				<!-- asdfasdf -->
				<div *ngFor="let item of list">
					<div *ngIf="this.showElement(item)">
						<li class="explorerItem" value="">
							<span *ngIf="!this.isNumber(item[1])">
								<a href="#{{this.setId(item, list)}}" class="btn btn-info collapseButton"
									data-toggle="collapse">V</a>
							</span>
							{{item[0]}}


							<!-- File numbers -->
							<span class="sizeNumber" *ngIf="this.isNumber(item[1])">
								{{this.convertSize(item[1])}}
							</span>
							<span class="sizeNumber" *ngIf="this.getFolderSize(item[1])">
								{{this.getFolderSize(item[1])}}
							</span>


							<ul id="{{this.tempId}}" class="explorerList collapse"
								*ngIf="this.getItems(item[1]).length > 0">
								<ng-container
									*ngTemplateOutlet="recursiveListTmpl; context:{ list: this.getItems(item[1]) }">
								</ng-container>
							</ul>
						</li>
					</div>

				</div>
			</ng-template>


			<!-- The actual explorer list component -->
			<ul class="explorerList">
				<ng-container *ngTemplateOutlet="recursiveListTmpl; context:{list: this.getItems(this.data)}">
				</ng-container>
			</ul>
		</div>

		<div id="fileTypes" class="col-3" style="outline: 1px black solid">
			<h1>File Types</h1>
		</div>
	</div>


	<div class="row">
		<div id="blocks" class="col-12" style="outline: 1px black solid">
			<h1>Blocks</h1>
		</div>
	</div>


</div>