<!-- <ngx-spinner
  type="line-scale-pulse-out"
  size="medium"
  color="#FFF"
  fullScreen="false"
></ngx-spinner> -->

<div class="divider py-1 bg-dark"></div>
<button id="openDriveButton" (click)="this.openDrive()"><span class="openDrive"></span></button>
<button><span class="refresh"></span></button>
<button><span class="openItem"></span></button>
<button><span class="copyPath"></span></button>
<button><span class="explorer"></span></button>
<button><span class="openCMD"></span></button>
<button><span class="refreshSelected"></span></button>
<button><span class="delete"></span></button>
<button><span class="properties"></span></button>
<button><span class="zoomIn"></span></button>
<button><span class="zoomOut"></span></button>
<button><span class="help"></span></button>
  <div class="divider py-1 bg-dark"></div>
<visualization *ngIf="data !== undefined" [data]="this.data">
</visualization>
