<!-- <ngx-spinner
  type="line-scale-pulse-out"
  size="medium"
  color="#FFF"
  fullScreen="false"
></ngx-spinner> -->

<div class="divider py-1 bg-dark"></div>
<button id="openDriveButton" (click)="this.openDrive()" title = "Open Drive"><span class="openDrive"></span></button>
<button title = "Refresh"><span class="refresh"></span></button>
<button title = "Open Item"><span class="openItem"></span></button>
<button title = "Copy Path"><span class="copyPath"></span></button>
<button title = "Open Explorer"><span class="explorer"></span></button>
<button title = "Open CMD"><span class="openCMD"></span></button>
<button title = "Refresh Selected"><span class="refreshSelected"></span></button>
<button title = "Delete Item"><span class="delete"></span></button>
<button title = "Properties"><span class="properties"></span></button>
  <div class="divider py-1 bg-dark"></div>
<visualization *ngIf="data !== undefined" [data]="this.data">
</visualization>