<!-- <ngx-spinner
  type="line-scale-pulse-out"
  size="medium"
  color="#FFF"
  fullScreen="false"
></ngx-spinner> -->
<div class="divider py-1 bg-dark"></div>

<!-- This button group is for the files button drop down that allows the opening of a new drive or folder to visualize, refresh the visualization and the files, and a button to close the application -->
<div class="btn-group">
	<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  File
	</button>
	<div class="dropdown-menu">
	  <a class="dropdown-item" (click)="this.openDrive()">Open</a>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" href="#">Refresh</a>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" (click)="this.closeApp()">Quit</a>
	</div>
  </div>

<!-- This button dropdown is to copy the current file path to be able to edit the files in the operating system explorer-->
<div class="btn-group">
	<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Edit
	</button>
	<div class="dropdown-menu">
	  <a class="dropdown-item" href="#">Copy Path</a>
	</div>
  </div>
  
<!-- It is a drop down button menu
First option is to open the folder or file that is selected
Second option is to explore the specific directory at the specific selected spot
Third is to recycle the file
Fourth is to permanently delete the file or folder
Fifth is to change the properties of the program
Sixth is to empty the recycling bin
Last is to choose multiple different files or folder to delete and delete all of them at once-->
<div class="btn-group">
	<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Clean Up
	</button>
	<div class="dropdown-menu">
	  <a class="dropdown-item" href="#">Open</a>
	  <div class="dropdown-divider">Explorer Here</div>
	  <a class="dropdown-item" href="#">Command Prompt Here</a>
	  <a class="dropdown-item" href="#">Delete (Recycle)</a>
	  <a class="dropdown-item" href="#">Delete (Permanent)</a>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" href="#">Properties</a>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" href="#">Empty Recycle Bin</a>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" href="#">User Defined Cleanup</a>
	</div>
  </div>
  
<!-- This is different actions to zoom in or out of the file explorer folder selected, select a child or select the parent of the folder-->
<div class="btn-group">
	<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Treemap
	</button>
	<div class="dropdown-menu">
	  <a class="dropdown-item" href="#">Zoom in</a>
	  <a class="dropdown-item" href="#">Zoom out</a>
	  <a class="dropdown-item" href="#">Reselect Child</a>
	  <a class="dropdown-item" href="#">Select Parent</a>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" href="#">Help With Treemaps</a>
	</div>
  </div>

<div class="btn-group">
	<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Report
	</button>
	<div class="dropdown-menu">
	  <a class="dropdown-item" href="#">Send Mail to Owner</a>
	</div>
  </div>
  
<!-- Drop down button to change some of the programs options
First is to show the amount of free space left on the drive
Second is to show the unknown files on the drive with no file extension assignment
Third is to show file types with the files and the size of all files of that type
Fourth is to show the treemap
Fifth is to show or hide the toolbar
Sixth is to show the statusbar for the search
Seventh is to do more configuration of the program and the looks of the program-->
<div class="btn-group">
	<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Options
	</button>
	<div class="dropdown-menu">
	  <a class="dropdown-item" href="#">Show Free Space</a>
	  <a class="dropdown-item" href="#">Show Unknown</a>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" href="#">Show File Types</a>
	  <a class="dropdown-item" href="#">Show Treemap</a>
	  <a class="dropdown-item" href="#">Show Toolbar</a>
	  <a class="dropdown-item" href="#">Show Statusbar</a>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" href="#">Configure...</a>
	</div>
  </div>
  
<!-- This is the help button dropdown for more documentation help and an about to talk about the specific information about version of program and more-->
<div class="btn-group">
	<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Help
	</button>
	<div class="dropdown-menu">
	  <a class="dropdown-item" href="#">Help</a>
	  <div class="dropdown-divider"></div>
	  <a class="dropdown-item" href="#">About..</a>
	</div>
  </div>
<div class="divider py-1 bg-dark"></div>
<button id="openDriveButton" (click)="this.openDrive()"><span class="openDrive"></span></button>
<button><span class="refresh"></span></button>
<button><span class="openItem"></span></button>
<button><span class="copyPath"></span></button>
<button><span class="explorer"></span></button>
<button><span class="openCMD"></span></button>
<button><span class="refreshSelected"></span></button>
<button><span class="delete"></span></button>
<button><span class="properties"></span></button>
<button><span class="zoomIn"></span></button>
<button><span class="zoomOut"></span></button>
<button><span class="help"></span></button>
  <div class="divider py-1 bg-dark"></div>
<visualization *ngIf="data !== undefined" [data]="this.data">
</visualization>
